body{
  font-family: 'Pridi', serif;
  overflow-x: hidden;
}
  
  .form {
    width: 500px;
    margin: 0 auto;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #060505;
    border-radius: 4px;
  }

  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #CB6CE6;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .name-group {
    display: flex;
    justify-content: space-between;
  }

  .center{
    align-items: center;
}

.logo {
  text-align: center;
}

.logo img {
  width: 100px;
}
