<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/CSSFILE/bootstrap.min.css">
  <link rel="stylesheet" href="/CSSFILE/login.css">
</head>
<body>
  <div class="container">
    <div class="logo">
      <img src="/img/Apartment_Logo.png" alt="Logo">
    </div>
    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
      <div class="mb-3 text-danger"> 
        {{msg}}
      </div>
    </form>
    <div class="forgot-password">
      <a href="#">หากลืมรหัสผ่าน</a>
    </div>
    <div class="sign-up">
      <a href="/register">สร้างบัญชีใหม่</a>
    </div>
  </div>
</body>
</html>