<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- This link make HTML gripping -->
    <link rel="stylesheet" href="/CSSFILE/bootstrap.min.css">
    <link rel="stylesheet" href="/CSSFILE/member.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- โครงด้านบนของเว็บไซต์ -->
    <div class="row bg-purple p-2"> 
        <div class="col-1 center">
            <!-- Logo -->
            <img src="/img/Apartment_Logo.png" width="95%" height="95%">
        </div>
        <div class="col-3 center">
            <h3><b>Phayao Apartment</b></h3>
        </div>
        <div class="col-5 center">
        </div>
        <div class="col-1 center">
            {{#isLandlord }}
                <button class="buttn" onclick="window.location.href='/post'">โพสต์</button>
            {{/isLandlord }}
        </div>
        <div class="col-1 center">
            <button class="buttn">ช่วยเหลือ</button>
        </div>
        <div class="col-1 center" style="position: relative;">
            <div id="profile" onclick="toggleProfileBlock()">
                {{firstChar}}
            </div>
            <div id="profile-dropdown" class="profileBlock" style="right: 0; top: 100%;">
                <a href="/settings" id="profile-info">ตั้งค่า</a>
                <a href="/logout" id="profile-info">ออกจากระบบ</a>
            </div>
        </div>
    </div>
    <!-- โครงด้านข้างของเว็บไซต์ -->
    <div class="aside">
        <form action="/search" method="get">
            <div class="row center position-relative ">
                <input class="search center" type="text" name="query" value="{{query}}" placeholder="ค้นหา" style="margin-left: 20px;">
            </div>
            <div>
                <ul style="list-style-type: none;" class="fixed-width-2"> <h5>ประเภทหอพัก</h5>
                    <li class="checkbox-label"><input type="checkbox" name="dormitory_type[]" value="1"><span class="fixed-width">บ้านเดี่ยว</span></li>
                    <li class="checkbox-label"><input type="checkbox" name="dormitory_type[]" value="2"><span class="fixed-width">บ้านแฝด</span></li>
                    <li class="checkbox-label"><input type="checkbox" name="dormitory_type[]" value="3"><span class="fixed-width">คอนโด</span></li>
                    <li class="checkbox-label"><input type="checkbox" name="dormitory_type[]" value="4"><span class="fixed-width">อพาร์ทเม้นท์</span></li>
                </ul>
                <ul style="list-style-type: none;" class="fixed-width-2"> <h5>ชนิดหอพัก</h5>
                    <li class="checkbox-label"><input type="checkbox" name="dorm_type[]" value="1"><span class="fixed-width">หอพักชาย</span></li>
                    <li class="checkbox-label"><input type="checkbox" name="dorm_type[]" value="2"><span class="fixed-width">หอพักหญิง</span></li>
                    <li class="checkbox-label"><input type="checkbox" name="dorm_type[]" value="3"><span class="fixed-width">หอพักรวม</span></li>
                </ul>
                <ul style="list-style-type: none;" class="fixed-width-2"> <h5>ราคา :</h5>
                    <input type="range" id="price" name="price" min="1500" max="8000" step="500" oninput="updatePrice(value)">
                    <p id="priceValue"></p>
                </ul>
                <ul style="list-style-type: none;" class="fixed-width-2"> <h5>ระยะทาง</h5>
                    <input type="range" id="price" name="price" min="0" max="5000" step="100" oninput="updateDistance(value)">
                    <p id="distanceValue"></p>
                </ul>
                <button class="in" type="submit">ค้นหา</button>
            </div>
        </form>
    </div>  
    <!-- dorm -->
    {{{dorms}}}
    <script src="/JSFILE/loginmember.js"></script>
    <script>var isLandlord = {{isLandlord}};</script>
</body>
</html>