<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลงทะเบียน</title>
    <link rel="stylesheet" href="/CSSFILE/register.css">
  </head>
  <body>
    <div class="form">
      <h2 style="background-color: #CB6CE6; padding: 20;">ลงทะเบียน</h2>
      <div class="input-group name-group">
        <input type="firstname" id="firstname" placeholder="ชื่อ">
        <input type="lastname" id="lastname" placeholder="นามสกุล">
      </div>
      <div class="input-group">
        <input type="text" id="username" placeholder="ชื่อผู้ใช้">
      </div>
      <div class="input-group">
        <input type="email" id="email" placeholder="อีเมล">
      </div>
      <div class="input-group">
        <input type="password" id="password" placeholder="รหัสผ่าน">
      </div>
      <div class="input-group">
        <input type="password" id="confirmPassword" placeholder="ยืนยันรหัสผ่าน">
      </div>
      <button type="submit">ลงทะเบียน</button>
    </div>
</body>
</html>